/*
   Body structure
 */
* {
  margin: 0;
  padding: 0;
}

/*
   Gallery Directories
 */
#gallerydir {
  background-color: #222222;
}

#gallerydir h1, #gallerydir h2, #gallerydir h3, #gallerydir h4, #gallerydir h5, #gallerydir h6, #gallerydir p, #gallerydir ul, #gallerydir a {
  color: #dddddd;
}

#gallerydir a {
  text-decoration: none;
}

#gallerydir ul {
  list-style-position: inside;
  list-style-type: disc;
}

#gallerydir ul > li {
  margin-left: 16px;
}

/*
   Photo Galleries
 */
#gallery {
  background-color: #222222;
}

#gallery h1, #gallery h2, #gallery h3, #gallery h4, #gallery h5, #gallery h6, #gallery p, #gallery ul, #gallery a {
  color: #dddddd;
}

#gallery figure {
  text-align: center;
  padding: 3px;
  display: inline-block;
  vertical-align: top;
  max-width: 305px;
}

#gallery figure:hover {
  background-color: #444444;
}

#gallery a {
  text-decoration: none;
}

.thumbnail {
}

#copyright {
  color: #dddddd;
  text-align: center;
}
