/*
   Body structure
 */
* {
  margin: 0;
  padding: 0;
}

/*
   Gallery Directories
 */
#gallerydir {
  background-color: #222222;
}

#gallerydir a {
  color: #dddddd;
  text-decoration: none;
}

/*
   Photo Galleries
 */
#gallery {
  background-color: #222222;
}

#gallery h1, #gallery h2, #gallery h3, #gallery h4, #gallery h5, #gallery h6, #gallery p {
  color: #dddddd;
}

#gallery figure {
  text-align: center;
  padding: 5px;
  display: inline-block;
  vertical-align: top;
  max-width: 165px;
}

#gallery figure:hover {
  background-color: #444444;
}

#gallery a {
  color: #dddddd;
  text-decoration: none;
}

.thumbnail {
}

#copyright {
  color: #dddddd;
  text-align: center;
}
